<footer class="footer bottom-container justify-content-center mt-4 pt-2 py-3 bg-white text-dark">
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>Casa de Simeão</h4>
        <h5>Entre em contato:</h5>
				<address>
					<p>Telefone: <a href="tel:+551132282064" style="color: black">(11) 3228-2064</a></p>
          <p>Telefone: <a href="tel:+551132282064" style="color: black">(11) 3311-7864</a></p>
          Rua Assunção nº 480 Brás - CEP: 03003-020 – São Paulo/SP
				</address>
			</div>

      <div class="col">
        <h5>Redes socias</h5>
        <div class="icons">
            <a class="fontawesome" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-instagram-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-twitter-square"></i></a>
            <a class="fontawesome" href="#"><i class="fab fa-linkedin"></i></a>
          </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h5>Empresas parceiras</h5>
          <p>Selo de parceria</p>
        </div>
      </div>
            
		</div>
	</div>

	<div class="rights pb-2">
		<div class="container">
			<div class="row">
				<div class="col">
					&copy; Casa de Simeão &middot; Todos os direitos reservados &middot;
				</div>
			</div>
		</div>
	</div>
</footer>