<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<div class="carousel slide" id="carousel-820595">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-820595" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-820595">
					</li>
					<li data-slide-to="2" data-target="#carousel-820595">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100  rounded" alt="Carousel Bootstrap First" src="https://images.unsplash.com/photo-1600328514560-7e4db60424a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1091&q=80" />
						<div class="carousel-caption">
							<h4 style='font-size: 30px; color: whitesmoke;'>
								Acreditamos em um envelhecimento saúdavel dos nossos idosos
							</h4>
							<p style='font-size: 20px; color: whitesmoke;'>
								A Casa de Simeão é um abrigo conveniado, composto por 150 idosos com mais de 60 anos.
								Trabalhamos combatendo o isolamento, sobre a base da escuta e a negociação, alimentando o desejo de continuar a desenvolver o seu potencial humano e intelectual.
							</p>
						</div>
					</div>
				</div> 
		  </div>
	  </div>
	</div>
</div>
			<!-- sessão o que fazemos -->
			<section class="text-center pb-5 pt-5">
				<div class="container">
					<h2>
						 Centro de Acolhida Especial para Idosos: Casa de Simeão
					</h2>

					<p class="lead">
						Eles são curiosos, têm muito a contar. Com cabelo branco e rugas que evidenciam os anos, contam suas histórias, se emocionam com o passado, mas não perdem a esperança. Com a sabedoria que lhes deu a vida e a cautela que lhes advertiu a rua, eles administram seus conflitos, e são provocados a ter um envelhecimento ativo.
            <br>

            A Casa de Simeão – Abrigo conveniado com a SMADS – Secretaria Municipal de Assistência e Desenvolvimento Social – é a casa de cento e oitenta homens com mais de sessenta anos. A metodologia de trabalho baseia-se no reconhecimento do idoso em seu ser integral, possuidor de sabedoria e experiências, que em um processo de educação permanente e realinhamento de suas visões e expectativas para construir novos caminhos. Trabalha-se no combate ao isolamento, sobre a base da escuta e a negociação, alimentado o desejo do idoso de continuar a desenvolver o seu potencial humano e intelectual.
					</p>
				</div>
			</section>

			<!-- Fim sessão depoimentos -->
			<!-- sessão atividades -->
			<section class="text-center pb-5 pt-5">
				<div class="container">
				<div class="row">
					<div class="col">
						<img src="https://github.com/heltonteixeira92/ong-project/blob/master/templates/static/base/img/user.png?raw=true" alt="icone de pessoas"  />
						<h5 class="pt-3">Oficinas</h5>
						<p class="lead">
							Promover a criatividade e participação dos usuários em diversas atividades como culinária e informática.
						</p>
					</div>
					<div class="col">
						<img src="https://github.com/heltonteixeira92/ong-project/blob/master/templates/static/base/img/educator.png?raw=true" alt="icone de palestra"  />
						<h5 class="pt-3">Palestras</h5>
						<p class="lead">
							Informações sobre diversos temos, tendo como objetivo trazer novos conhecimentos, orientações, direitos e socialização.
						</p>
					</div>
					<div class="col">
						<img src="https://github.com/heltonteixeira92/ong-project/blob/master/templates/static/base/img/house.png?raw=true" alt="icone de uma casa"  />
						<h5 class="pt-3">Moradia autônoma</h5>
						<p class="lead">
							Atividade de reflexão, orientação e preparação para moradia autônoma.
						</p>
					</div>
					<div class="col">
						<img src="https://github.com/heltonteixeira92/ong-project/blob/master/templates/static/base/img/music.png?raw=true" alt="icone de nota musical"  />
						<h5 class="pt-3">Roda de música</h5>
						<p class="lead">
							Promover descontração, integração e criatividade.
						</p>
					</div>
					<div class="col">
						<img src="https://github.com/heltonteixeira92/ong-project/blob/master/templates/static/base/img/park.png?raw=true" alt="icone de parque"  />
						<h5 class="pt-3">Lazer</h5>
						<p class="lead">
							Realização de passeios, visitas culturais e eventos visando a convivência coletiva.
						</p>
					</div>
				</div>
				</div>

			</section>
			<!-- Fim sessão atividades -->		


