.fontawesome{
    color: rgba($color: #505050, $alpha: 0.6);
    font-size: 28px;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
  }
  
  .fontawesome:hover{
    color: rgba($color: #1b1b1b, $alpha: 0.6);
  }